.App {
    font-family: sans-serif;
    text-align: center;
}

.carousel-container {
    overflow: hidden;
  }
  
.carousel-slide {
    display: flex;
}
  
.carousel-item {
    flex: 1 0 100%;
    height: 300px; /* 设置轮播图高度 */
}