.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.App .worldeBoard {
    width: 350px;
    height: 420px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.App .worldeBoard .wordleRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.App .worldeBoard .wordleRow .wordleCell {
    border: 2px solid #d3d6da;
}

.App .worldeBoard .wordleRow .wordleCell.correctChar {
    background-color: #b59f3b;
    border: none;
}

.App .worldeBoard .wordleRow .wordleCell.correctCharAndPos {
    background-color: #538d4e;
    border: none;
}

.App .worldeBoard .wordleRow .wordleCell.error {
    background-color: #787c7e;
    border: none;
}

.App .keyBoard {
    height: 198px;
    width: 484px;
}
.App .keyBoard .keyBoardRow {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
}
.App .keyBoard .keyBoardRow > div:not(:last-child) {
    margin-right: 6px;
}
.App .keyBoard .keyBoardRow > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.App .keyBoard .keyBoardRow .keyBoardCell {
    height: 58px;
    background-color: #d3d6da;
    flex: 1;
}

.App .keyBoard .keyBoardRow .cellSpace {
    height: 58px;
    flex: .5;
}

.App .keyBoard .keyBoardRow .cellOpt {
    height: 58px;
    background-color: #d3d6da;
    flex: 1.5;
}
  